.DS_Store

# __pycache__ ignore
src/efficientnetb0/__pycache__
src/preprocessing/__pycache__

# params - large file ignore
src/efficientnetb0/test_data_best_params.pt
src/vgg16/test_data_best_params.pt

# src/preprocessing/preprocessed_dataset/preprocessed/*
src/preprocessing/preprocessed_dataset/preprocessed/EfficientNet/*
src/preprocessing/preprocessed_dataset/preprocessed/VGG16/*
src/preprocessing/preprocessed_dataset/preprocessed/ResNet/*
src/preprocessing/preprocessed_dataset/preprocessed/InceptionV3/*
# src/preprocessing/preprocessed_dataset/preprocessed/BHSig260_Bengali_Sampled/*
# src/preprocessing/preprocessed_dataset/preprocessed/BHSig260_Bengali_Hindi/*
# src/preprocessing/preprocessed_dataset/preprocessed/CEDAR_Sampled/*
# src/preprocessing/preprocessed_dataset/preprocessed/Real_Fake_Data_Sampled/*
# src/preprocessing/preprocessed_dataset/preprocessed/Signature_Verification_Sampled/*
# src/preprocessing/preprocessed_dataset/preprocessed/Hansig_Sampled/*

src/efficientnetb0/wandb/*
